<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taapesh.tablemate" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.taapesh.tablemate.activity.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.taapesh.tablemate.activity.UserHomeActivity"
            android:label="@string/placeholder" >
        </activity>
        <activity
            android:name="com.taapesh.tablemate.activity.ServerHomeActivity"
            android:label="@string/placeholder" >
        </activity>
        <activity
            android:name="com.taapesh.tablemate.activity.TableActivity"
            android:label="@string/placeholder" >
        </activity>
        <activity
            android:name="com.taapesh.tablemate.activity.UserLoginActivity"
            android:label="@string/placeholder"
            android:noHistory="true"
            android:parentActivityName="com.taapesh.tablemate.activity.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.taapesh.tablemate.activity.StartActivity" />
        </activity>
        <activity
            android:name="com.taapesh.tablemate.activity.UserRegistrationActivity"
            android:label="@string/placeholder"
            android:noHistory="true"
            android:parentActivityName="com.taapesh.tablemate.activity.StartActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.taapesh.tablemate.activity.StartActivity" />
        </activity>
        <activity
            android:name="com.taapesh.tablemate.activity.ServerActivity"
            android:label="@string/placeholder" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.taapesh.tablemate.activity.UserLoginActivity" />
        </activity>
        <activity
            android:name="com.taapesh.tablemate.activity.ProfileActivity"
            android:label="@string/placeholder"
            android:parentActivityName="com.taapesh.tablemate.activity.UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.taapesh.tablemate.activity.UserHomeActivity" />
        </activity>
        <activity
            android:name="com.taapesh.tablemate.activity.ReceiptsActivity"
            android:label="@string/placeholder"
            android:parentActivityName="com.taapesh.tablemate.activity.UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.taapesh.tablemate.activity.UserHomeActivity" />
        </activity>
        <activity
            android:name="com.taapesh.tablemate.activity.PaymentActivity"
            android:label="@string/placeholder"
            android:parentActivityName="com.taapesh.tablemate.activity.UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.taapesh.tablemate.activity.UserHomeActivity" />
        </activity>
        <activity
            android:name="com.taapesh.tablemate.activity.AddPaymentActivity"
            android:label="@string/placeholder"
            android:noHistory="true"
            android:parentActivityName="com.taapesh.tablemate.activity.PaymentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.taapesh.tablemate.activity.PaymentActivity" />
        </activity>
        <activity
            android:name="com.taapesh.tablemate.activity.EditProfileActivity"
            android:label="@string/placeholder"
            android:noHistory="true"
            android:parentActivityName="com.taapesh.tablemate.activity.ProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.taapesh.tablemate.activity.ProfileActivity" />
        </activity>
        <activity
            android:name="com.taapesh.tablemate.activity.FinishAndPayActivity"
            android:label="@string/title_activity_finish_and_pay" >
        </activity>
    </application>

</manifest>
