<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taapesh.androidrestaurant" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.UserHomeActivity"
            android:label="@string/placeholder" >
        </activity>

        <activity
            android:name=".activity.ServerHomeActivity"
            android:label="@string/placeholder" >
        </activity>

        <activity
            android:name=".activity.TableActivity"
            android:label="@string/placeholder" >
        </activity>

        <activity
            android:name=".activity.UserLoginActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".activity.StartActivity"
            android:noHistory="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.StartActivity" />
        </activity>

        <activity
            android:name=".activity.UserRegistrationActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".activity.StartActivity"
            android:windowSoftInputMode="adjustResize"
            android:noHistory="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.StartActivity" />
        </activity>

        <activity
            android:name=".activity.ServerActivity"
            android:label="@string/placeholder" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.UserLoginActivity" />
        </activity>

        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".activity.UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.UserHomeActivity" />
        </activity>

        <activity
            android:name=".activity.ReceiptsActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".activity.UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.UserHomeActivity" />
        </activity>

        <activity
            android:name=".activity.PaymentActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".activity.UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.UserHomeActivity" />
        </activity>

        <activity
            android:name=".activity.AddPaymentActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".activity.PaymentActivity"
            android:noHistory="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PaymentActivity" />
        </activity>

        <activity
            android:name=".activity.EditProfileActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".activity.ProfileActivity"
            android:noHistory="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProfileActivity" />
        </activity>

    </application>

</manifest>
