<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taapesh.androidrestaurant" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UserHomeActivity"
            android:label="@string/placeholder" >
        </activity>

        <activity
            android:name=".WaiterHomeActivity"
            android:label="@string/placeholder" >
        </activity>

        <activity
            android:name=".EatingActivity"
            android:label="@string/placeholder" >
        </activity>

        <activity
            android:name=".UserLoginActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taapesh.androidrestaurant.StartActivity" />
        </activity>

        <activity
            android:name=".UserRegistrationActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".StartActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taapesh.androidrestaurant.StartActivity" />
        </activity>

        <activity
            android:name=".ServingActivity"
            android:label="@string/placeholder" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taapesh.androidrestaurant.UserLoginActivity" />
        </activity>

        <activity
            android:name=".TipRatingReviewActivity"
            android:label="@string/placeholder" >
        </activity>

        <activity
            android:name=".ProfileActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taapesh.androidrestaurant.UserHomeActivity" />
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taapesh.androidrestaurant.UserHomeActivity" />
        </activity>

        <activity
            android:name=".PaymentActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taapesh.androidrestaurant.UserHomeActivity" />
        </activity>

        <activity
            android:name=".AddPaymentActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".PaymentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taapesh.androidrestaurant.PaymentActivity" />
        </activity>

        <activity
            android:name=".EditProfileActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".ProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taapesh.androidrestaurant.ProfileActivity" />
        </activity>

        <activity
            android:name=".JoinTableActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taapesh.androidrestaurant.UserHomeActivity" />
        </activity>

        <activity
            android:name=".FindTableActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".UserHomeActivity"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taapesh.androidrestaurant.UserHomeActivity" />
        </activity>

        <activity
            android:name=".ChargeCustomerActivity"
            android:label="@string/placeholder"
            android:parentActivityName=".ServingActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.taapesh.androidrestaurant.ServingActivity" />
        </activity>

    </application>
</manifest>
